#tnc{
	position:relative;
	margin: 0 auto;
	margin-top: 60px;
	padding: 20px;
	width: 565px;
	height: 355px;
	background-color: #f48d00;
	border-radius: 5px;
}

#tnc #header{
	position:relative;
	width:311px;
	height:26px;
}

.scroll-pane
{
	width: 100%;
	height: 300px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 300px;
}

#backbutton{
	margin: 10px auto;
	width: 202px;
	height: 53px;	
}
