/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
textarea{resize: none}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------    START STYLE CARING -----------------------------*/

a{text-decoration:none;}
a:link {color:#9f025e;}      
a:visited {color:#9f025e;}  
a:hover {color:#c20272;}  
a:active {color:#9f025e;}

.clear{clear:both;}
.white{color:#fff;font-weight:normal;}

h1{font-size: 38px;}
h2{font-size: 36px;}
h3{font-size: 32px;}
h4{font-size: 24px;}
h5{font-size: 18px;font-weight:bold;}
h6{font-size: 14px;font-weight:bold;}
h1,h2,h3,h4{font-family:'Arial Narrow';font-weight:bold;}

p{margin:10px 0px 25px 0px;}
strong{font-weight:bold;}

#content ul{list-style: disc; padding-left:20px;margin:10px 0px;}
#content ol{list-style: decimal; padding-left:20px;margin:10px 0px;}
#content ol.romawi_besar{list-style-type: upper-roman;padding-left:30px;margin:10px 0px;}

body{
	font-family:Arial,Arial Narrow,Tahoma;
	font-size:14px;
	line-height:1.3;
	color:#222;
}
#wrapper{
	width:789px;
	height:auto;
	margin:0px auto;
	background-image:url(../images/long-bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
}
#header{
	width:100%;
	min-height:200px;
	padding-top:15px;
	text-align:center;
	background-image:url(../images/logo-caring.png);
	background-repeat:no-repeat;
	background-position:center 15px;
}
#header.awarding{
	padding-top:40px;
	min-height:200px;
	background-image:url(../images/logo-caring.png);
	background-repeat:no-repeat;
	background-position:center 70px;
}
#header.awarding #menu{
	margin-top:195px;
}
#content{
	width:689px;
	padding:30px 50px 0px 50px;
	height:auto;
	clear:both;
	text-align:left;
	font-family:'Arial';
	font-size:12px;
}
#header #menu{
	width:100%;
	height:38px;
	margin:210px auto 0px auto;
	font-family:'Arial Narrow';
	font-size:18px;
	background-image:url(../images/bg-menu.png);
	background-repeat:no-repeat;
	background-position:center 33px;
}
#header #menu ul{
	width:555px;
	height:35px;
	margin:0px auto;
	font-weight:bold;
}
#header #menu li{display:inline;}
#header #menu li a{
	display:inline-block;
	padding:0px 17px;
	height:32px;
	float:left;
	text-align:center;
}
#header #menu li a:hover,#header #menu li a.active{border-bottom:4px solid #bc3190;color:#bc3190;}
a#see-the-finalist{
	display:block;
	width:285px;
	height:105px;
	background-image:url(../images/btn-see-the-finalist.png);
	background-position:top center;
	background-repeat:no-repeat;
}
a#see-the-finalist:hover{
	background-position:bottom center;
}
#awarding-day{font-size:19px;font-family:'Arial Narrow';font-weight:bold;color:#333;}
#awarding-day .pink{color:#9e005d;font-size:24px;}

/*  FORM TICKET REGISTER */
#register{
	width:649px;
	padding:20px;
	background:url(../images/bg-pink-trans.png);
	background-repeat:repeat;
	font-family:arial;
	font-size:12px;
}
#register input[type=text],#register select{
	width:190px;
	padding:5px;
	margin:0px 10px 10px 0px;
	color:#666;
}
#register select{width:204px;}
#register #term{text-align:left;width:420px;float:left;margin:5px 15px 0px 0px;}
#register #term input[type=checkbox]{float:left;margin:1px 5px 0px 0px;}
#register #captchas{width:80px;height:20px;padding-right:5px;text-align:left;float:left;}
#register #captchas input[type=text]{width:25px;margin:0px;padding:2px;}
#register input[type=submit]{
	width:116px;
	height:32px;
	background:transparent;
	background-image:url(../images/btn-submit.png);
	background-position:top center;
	background-repeat:no-repeat;
	border:0px;
	cursor:pointer;
	text-indent:-9999px;
	margin:0px 0px 0px 7px;
}
#register input[type=submit]:hover{background-position:bottom center;}
/*  END FORM TICKET REGISTER  */

#tnc{
	height:423px;
	width:650px;
	padding-right:30px;
	margin:20px 0px 25px 0px;
	font-family:'Arial';
	font-size:13px;
	overflow:auto;
	line-height:1.4;
}

.finalist{
	width:330px;
	height:160px;
	background:url(../images/bg-pink-trans.png);
	background-repeat:repeat;
	margin:10px 13px 8px 0px;
	float:left;
	font-family:'Arial Narrow';
}
.finalist img{float:left;margin-right:15px;width:160px;height:160px;overflow:hidden;display:block;}
.finalist h4{margin-top:30px;float:left;width:150px;padding-left:3px;font-weight:normal;}
.finalist .vote{
	display:block;
	width:44px;
	height:55px;
	float:left;
	padding:7px 15px 0px 0px;
	margin-top:15px;
	border-right:1px solid #efa4cb;
	background-image:url(../images/love.png);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:center;
	position:relative;
}
.finalist .see-detail{
	display:block;
	width:54px;
	height:55px;
	float:left;
	padding:7px 15px 0px 0px;
	margin:15px 0px 0px 15px;
	background-image:url(../images/lup.png);
	background-repeat:no-repeat;
	text-align:center;
	position:relative;
}
.finalist .vote a,.finalist .see-detail a{width:50px;color:#333;display:block;font-size:14px;position:absolute;top:45px;left:0px;}
.finalist .vote a{width:40px;}
.finalist .vote a:hover,.finalist .see-detail a:hover{color:#9f025e;}

.paging{
	font-size:25px;
	margin-top:25px;
	font-family:'Arial Narrow';
}
.paging a{color:#fff;}
.paging a:hover{color:#ffcee3;}
.paging a.active{
	color:#000;
	font-size:40px;
}
.finalist-detail{
	width:687px;
	height:305px;
	background:url(../images/bg-pink-trans.png);
	background-repeat:repeat;
	margin:10px 13px 8px 0px;
	float:left;
}
.finalist-detail img{float:left;margin-right:5px;width:305px;height:305px;display:block;}
.finalist-detail #biograph{width:330px;float:left;padding:15px;}
.finalist-detail h4{margin-top:10px;width:350px;font-family:'Arial Narrow';font-weight:normal;}
.finalist-detail #desc{width:310px;height:131px;overflow:auto;display:block;padding-right:20px;margin:10px 0px;clear:both;line-height:1.4;}
.finalist-detail #desc p{margin:0px 0px 10px 0px;}
.finalist-detail .vote{
	display:block;
	width:77px;
	height:65px;
	float:left;
	padding:7px 0px 0px 0px;
	margin-top:10px;
	background-image:url(../images/love.png);
	background-position:top center;
	background-repeat:no-repeat;
	font-size:16px;
	text-align:center;
	position:relative;
	font-family:'Arial Narrow';
}
.finalist-detail .back{
	display:block;
	float:right;
	margin-top:55px;
	background-image:url(../images/back.png);
	background-position:center left;
	background-repeat:no-repeat;
	padding-left:20px;
	font-size:20px;
	font-family:'Arial Narrow';
}
.finalist-detail .vote .btn-vote{
	display:block;
	width:79px;
	height:32px;
	background-image:url(../images/btn-vote.png);
	background-position:top center;
	background-repeat:no-repeat;
	text-indent:-9999px;
	position:absolute;
	top:45px;left:0px;
}
.finalist-detail .vote .btn-vote:hover{background-position:bottom center;}
#komentar{
	width:335px;
	float:left;
	margin-top:20px;
}
.post{clear:both;margin:15px 0px 5px 0px;}
.post .txt{
	width:253px;
	height:48px;
	float:left;
	padding:15px 15px 15px 25px;
	margin-bottom:5px;
	background-image:url(../images/bg-komentar.gif);
	background-repeat:no-repeat;
	color:#444;
}
.post img{float:left;width:38px;height:38px;margin-right:3px;}
.post .user-tgl-jam {margin-left:50px;font-size:11px;}
.post .user-tgl-jam h6{display:inline;margin:0px 5px 0px 3px;font-weight:bold;color:#222;}
#kirim-komentar{
	width:339px;
	float:left;
	margin:20px 0px 0px 15px;
}
#kirim-komentar textarea{padding:0px;border:none;font-family:'Arial';width:250px;height:45px;padding:3px;}
#kirim-komentar .txt{
	width:258px;
	height:58px;
	float:left;
	padding:10px 15px 15px 20px;
	margin-bottom:2px;
	background-image:url(../images/bg-komentar.gif);
	background-repeat:no-repeat;
}
#kirim-komentar .field{
	width:290px;
	height:15px;
	clear:both;
	padding:0px 5px 15px 0px;
	margin:0 0 5px 48px;
	display:inline-block;
}
#kirim-komentar textarea,#kirim-komentar input{color:#444;font-size:12px;}
#kirim-komentar #nama,#kirim-komentar #hp,#kirim-komentar #email{width:83px;padding:4px 3px;border:1px solid #d1d1d1;margin-right:3px;}
#kirim-komentar input[type=submit]{
	width:160px;
	height:32px;
	margin:5px 0px 0px 38px;
	background:transparent;
	background-image:url(../images/btn-kirim-komentar.png);
	background-position:top center;
	background-repeat:no-repeat;
	border:0px;
	cursor:pointer;
	text-indent:-9999px;
	clear:both;
}
#kirim-komentar input[type=submit]:hover{background-position:bottom center;}
#kirim-komentar h4.note{margin:10px 0px 0px 45px;font-weight:normal;}

/* FOOTER */
#footer{
	height:390px;
	position:relative;
	background-image:url(../images/bg-footer.jpg);
	background-repeat:no-repeat;
}
#footer #badge a{
	display:block;
	width:164px;
	height:158px;
	position:absolute;
	top:175px;
	right:45px;
	background-image:url(../images/badge.png);
	background-position:top center;
	background-repeat:no-repeat;
}
#footer #badge a:hover{
	background-position:bottom center;
}


#recaptcha_image img{
    height:46px;
    width:230px;
    margin: 0px;
    padding: 0px;
}
#recaptcha_container {
    margin: 0px;
    padding: 0px;
    width: 230px;
}